    .title
{background-color: 
cornflowerblue;
font-style: italic;
text-align: center;}

    .paragrafos
{background-color: black;
color: white;}
   
    .sobre
{background-color: cornflowerblue;
 font-style: italic;}
    
    .fundo
{background-color: rgb(187, 187, 187);
 color: black;}
